* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 12vh;
  padding: 0 6vw;
  margin-top: 30px;
  /* background-color: blueviolet; */
}
nav {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
nav a {
  text-decoration: none;
  color: #030930;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
nav a:hover {
  color: #bf46a2;
}
.logo {
  width: 100px;
  display: flex;
  align-items: center;
  height: 100px;
}
.logo img {
  height: 124px;
  width: 124px;
  font-size: 1.2rem;
}
main {
  height: 84vh;
}
.visit-btn {
  background-color: white;
  padding: 15px 30px;
  border-radius: 16px;
  /* border: 2px solid #030930; */
  transition: all 1s ease-in;
}
.visit-btn a {
  text-decoration: none;
  color: #030930;
  font-weight: 600;
}
.visit-btn:hover {
  background: linear-gradient(160deg, #6c1eb2, #d14fa0);
  color: white;
}
.KnowledgeBased-link i {
  transition: all 0.3s ease-in-out;
}
.KnowledgeBased-link:hover i {
  rotate: 180deg;
}
.KnowledgeBased-link {
  position: relative;
}
.knowledgeBase-Container {
  /* display: none; */
  position: absolute;
  border: #030930 solid 2px;
  border-radius: 10px;
  width: 160px;
  height: 160px;
}
